.gamondia-bottom-icon {
	padding: 0;
	list-style: none;
	display: inline-block;
	margin: 10px auto;
	position: Center;
}
.gamondia-bottom-icon li {
	display: inline-block
}
.gamondia-bottom-icon a {
	display: inline-block;
	float: left;
	width: 32px;
	height: 32px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 32px;
	background: #000;
	position: relative;
	transition: .5s
}
.long-shadow a {
	overflow: hidden;
	font-size: 20px;
	border-radius: 4px;
	margin: 0 5px
}
.long-shadow a:hover {
	background: #fff;
	text-shadow: 0 0 #d4d4d4,1px 1px #d4d4d4,2px 2px #d4d4d4,3px 3px #d4d4d4,4px 4px #d4d4d4,5px 5px #d4d4d4,6px 6px #d4d4d4,7px 7px #d4d4d4,8px 8px #d4d4d4,9px 9px #d4d4d4,10px 10px #d4d4d4,11px 11px #d4d4d4,12px 12px #d4d4d4,13px 13px #d4d4d4,14px 14px #d4d4d4,15px 15px #d4d4d4,16px 16px #d4d4d4,17px 17px #d4d4d4,18px 18px #d4d4d4,19px 19px #d4d4d4,20px 20px #d4d4d4,21px 21px #d4d4d4,22px 22px #d4d4d4,23px 23px #d4d4d4,24px 24px #d4d4d4,25px 25px #d4d4d4,26px 26px #d4d4d4,27px 27px #d4d4d4,28px 28px #d4d4d4,29px 29px #d4d4d4,30px 30px #d4d4d4
}
.long-shadow .facebook {
	border: 2px solid transparent;
	background: #3B579D;
	text-shadow: 0 0 #2d4278,1px 1px #2d4278,2px 2px #2d4278,3px 3px #2d4278,4px 4px #2d4278,5px 5px #2d4278,6px 6px #2d4278,7px 7px #2d4278,8px 8px #2d4278,9px 9px #2d4278,10px 10px #2d4278,11px 11px #2d4278,12px 12px #2d4278,13px 13px #2d4278,14px 14px #2d4278,15px 15px #2d4278,16px 16px #2d4278,17px 17px #2d4278,18px 18px #2d4278,19px 19px #2d4278,20px 20px #2d4278,21px 21px #2d4278,22px 22px #2d4278,23px 23px #2d4278,24px 24px #2d4278,25px 25px #2d4278,26px 26px #2d4278,27px 27px #2d4278,28px 28px #2d4278,29px 29px #2d4278,30px 30px #2d4278
}
.long-shadow .facebook:hover {
	border: 2px solid #d4d4d4;color:#3B579D
}
.long-shadow .google-plus {
	border: 2px solid transparent;
	background: #DD4A3A;
	text-shadow: 0 0 #c23122,1px 1px #c23122,2px 2px #c23122,3px 3px #c23122,4px 4px #c23122,5px 5px #c23122,6px 6px #c23122,7px 7px #c23122,8px 8px #c23122,9px 9px #c23122,10px 10px #c23122,11px 11px #c23122,12px 12px #c23122,13px 13px #c23122,14px 14px #c23122,15px 15px #c23122,16px 16px #c23122,17px 17px #c23122,18px 18px #c23122,19px 19px #c23122,20px 20px #c23122,21px 21px #c23122,22px 22px #c23122,23px 23px #c23122,24px 24px #c23122,25px 25px #c23122,26px 26px #c23122,27px 27px #c23122,28px 28px #c23122,29px 29px #c23122,30px 30px #c23122
}
.long-shadow .google-plus:hover {
	border: 2px solid #d4d4d4;
	color:#DD4A3A
}
.long-shadow .backhome {
	border: 2px solid transparent;
	background: #19abea;
	text-shadow: 0 0 #1898cf,1px 1px #1898cf,2px 2px #1898cf,3px 3px #1898cf,4px 4px #1898cf,5px 5px #1898cf,6px 6px #1898cf,7px 7px #1898cf,8px 8px #1898cf,9px 9px #1898cf,10px 10px #1898cf,11px 11px #1898cf,12px 12px #1898cf,13px 13px #1898cf,14px 14px #1898cf,15px 15px #1898cf,16px 16px #1898cf,17px 17px #1898cf,18px 18px #1898cf,19px 19px #1898cf,20px 20px #1898cf,21px 21px #1898cf,22px 22px #1898cf,23px 23px #1898cf,24px 24px #1898cf,25px 25px #1898cf,26px 26px #1898cf,27px 27px #1898cf,28px 28px #1898cf,29px 29px #1898cf,30px 30px #1898cf
}
.long-shadow .backhome:hover {
	border:2px solid #d4d4d4;
	color:#2e3138
}
.long-shadow .sitemapl {
	border: 2px solid transparent;
	background: #e74c3c;
	text-shadow: 0 0 #d14334,1px 1px #d14334,2px 2px #d14334,3px 3px #d14334,4px 4px #d14334,5px 5px #d14334,6px 6px #d14334,7px 7px #d14334,8px 8px #d14334,9px 9px #d14334,10px 10px #d14334,11px 11px #d14334,12px 12px #d14334,13px 13px #d14334,14px 14px #d14334,15px 15px #d14334,16px 16px #d14334,17px 17px #d14334,18px 18px #d14334,19px 19px #d14334,20px 20px #d14334,21px 21px #d14334,22px 22px #d14334,23px 23px #d14334,24px 24px #d14334,25px 25px #d14334,26px 26px #d14334,27px 27px #d14334,28px 28px #d14334,29px 29px #d14334,30px 30px #d14334
}
.long-shadow .sitemapl:hover {
	border:2px solid #d4d4d4;
	color:#2e3138
}
