h2.post-title, 
h1.post-title {
	font-size: 180%;
	font-family: "Roboto Condensed";
	color: #666;
	float: Center;
	text-align: center;
}
.menu, 
.nav-menu, 
#header-wrapper, 
.nav-menu2, 
.toggleMenu, 
.dropdowns, 
.breadcrumbs, 
#sidebar-wrapper,
#bottombar,
#footer-wrapper {
	display: none;
}
#wrapper {
	max-width: 790px;
	background: transparent;
	margin: 0 auto;
	box-shadow: none;
	padding: 0 auto;
}
#post-wrapper {
	max-width:790px;
	width: 100%;
}
.post-container {
	padding : 0;
}
.post { 
	margin: auto 0;
	padding: 50px 20px 10px 20px;
	border-radius: 5px;
}